<template>
    <h1>Tasks</h1>
    <TaskForm />
    <TaskItem v-for="task in tasks" :task="task" :key="task.id" />
    <div v-if="tasks.length === 0" class="alert alert-dark mt-3">
        Sin Tareas pendientes 😍
    </div>
</template>

<script>
import { onMounted, provide, ref, watchEffect } from "vue";
import TaskForm from "./TaskForm.vue";
import TaskItem from "./TaskItem.vue";

export default {
    components: { TaskForm, TaskItem },
    setup() {
        const tasks = ref([]);

        provide("tasks", tasks);

        if (localStorage.getItem("tasks")) {
            tasks.value = JSON.parse(localStorage.getItem("tasks"));
        }

        watchEffect(() => {
            localStorage.setItem("tasks", JSON.stringify(tasks.value));
        });

        return { tasks };
    },
};
</script>

<style>
</style>