<template>
    <form @submit.prevent="handleSubmitTask">
        <input
            type="text"
            placeholder="Ingrese tarea"
            class="form-control my-2"
            v-model.trim="name"
        />
        <button class="btn btn-primary w-100">Añadir</button>
    </form>
</template>

<script>
import { inject, ref } from "vue";

export default {
    setup() {
        const name = ref("");
        const tasks = inject("tasks");

        const handleSubmitTask = () => {
            if (name.value === "") {
                return console.log("Empty text");
            }

            const task = {
                id: Date.now(),
                name: name.value,
                state: false,
            };
            tasks.value.push(task);

            name.value = "";
        };

        return {
            name,
            handleSubmitTask,
        };
    },
};
</script>

<style>
</style>