<template>
    <div
        class="alert alert-warning mt-3 d-flex justify-content-between align-items-center"
    >
        <p class="m-0" :class="{ lineThrough: task.state }">{{ task.name }}</p>
        <div class="d-grow-1">
            <i
                v-if="task.state"
                class="fas fa-undo-alt mx-2 text-success"
                role="button"
                @click="handleUpdateState(task.id)"
            />
            <i
                v-else
                class="fas fa-check-circle mx-2 text-success"
                role="button"
                @click="handleUpdateState(task.id)"
            ></i>
            <i
                class="fas fa-minus-circle text-danger"
                role="button"
                @click="handleDeleteTask(task.id)"
            ></i>
        </div>
    </div>
</template>

<script>
import { inject } from "vue";

export default {
    props: {
        task: {
            type: Object,
            required: true,
        },
    },
    setup() {
        const tasks = inject("tasks");

        const handleDeleteTask = (taskId) => {
            tasks.value = tasks.value.filter((task) => task.id !== taskId);
        };

        const handleUpdateState = (taskId) => {
            tasks.value = tasks.value.map((task) => {
                if (task.id === taskId) {
                    task.state = !task.state;
                }
                return task;
            });
        };

        return {
            handleDeleteTask,
            handleUpdateState,
        };
    },
};
</script>

<style scoped>
    .lineThrough {
        text-decoration: line-through;
    }
</style>