<template>
    <div class="container">
        <TasksContainer />
    </div>
</template>

<script>
import TasksContainer from "./components/TasksContainer.vue";
export default {
    name: "App",
    components: { TasksContainer },
};
</script>